<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IBS.IThotSystem.Migrator</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="excel-migration">
                <span class="bi bi-file-earmark-spreadsheet"></span> Excel Migration
            </NavLink>
        </div>
    </nav>
</div>

